{% extends 'base.html' %}

{% block content %}
<h1 style="padding: 12px">{% block title %} Tak po-siriusovski AI {% endblock %}</h1>
<hr>
<img src="static/images/logo.jpg" width="250px" align="left">
<p style="font-size: 150%">Это хобби-проект <a style="font-size: 100%" href="https://vk.com/h4cker3_omsk">Владимира Константинова</a>, который генерирует цитаты о Сириусе на основе нейронной сети (Char-RNN).</p>
<p style="font-size: 150%">Огромное спасибо паблику <a style="font-size: 100%" href="https://vk.com/takposiriusovski">Так по-сириусовски...</a>💜, на цитатах из которого я и обучал нейронную сеть.</p>
<p style="font-size: 150%">На этой странице после каждой перезагрузки генерируется новая цитата.</p>
<p style="font-size: 150%">Важно!!! В некоторых цитатах могут встречаться грамматические и орфографические ошибки, так как данная нейронная сеть не идеальна (как и сам я). Планируется дообучать нейронку (летом), дабы улучшить ее результаты.</p>
<hr>
<p style="font-size: 150%">Сгенерированный текст:</p>
<p style="font-size: 150%">{{ gen_text }}</p>
{% endblock %}